<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/jpg" href="/i/logo.png">
    <title> Gana Associates - Home (Clone)</title>
    <style>
        .ac1 {
            color: palevioletred;
        }
        
        .ac2 {
            color: white;
        }
    </style>
</head>

<body>
    <a name="HOME"></a>
    <header>
        <nav>
            <img src="/public/Images/logo.png" alt="logo">
            <acroynm title="9210664161"><img src="/i/phone.png"></acroynm>
            <a href="#HOME" class="ac1">Home</a>
            <a href="#Origin" class="ac1">Original Bookings</a>
            <a href="About us.html" class="ac1">About us</a>
            <a href="#Upcoming" class="ac1">Upcoming projects</a>
            <a href="Contact us.html" class="ac1">Contact us</a>
        </nav>
    </header>