<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <img src="/i/logo.png" alt="logo">
            <acroynm title="9210664161"><img src="/i/phone.png"></acroynm>
            <a href="#HOME" class="ac1">Home</a>
            <a href="#Origin" class="ac1">Original Bookings</a>
            <a href="About us.html" class="ac1">About us</a>
            <a href="#Upcoming" class="ac1">Upcoming projects</a>
            <a href="Contact us.html" class="ac1">Contact us</a>
        </nav>
    </header>
    <br><br><br><br><br><br>
    <section>
        <table style="background: red; color: white; width: 100%;">
            <tr>
                <td>
                    <center>
                        Contact us
                    </center>
                </td>
            </tr>
        </table>
    </section>

    <footer>
        <center>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="index.html" class="ac2">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/index.html/#Origin" class="ac2">Original Bookings</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#about" class="ac2">About us</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/index.html/#Upcoming" class="ac2">Upcoming projects</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="Contact us.html" class="ac2">Contact us</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <br> © Copyright 2020 - Sandeep. All right reserved.
        </center>
    </footer>
</body>

</html>