<%- include("../partials/header") %>
    <section>
        <br><br>
        <table style="color: red; background: #000; width: 100%; height: 15mm;">
            <tr>
                <td>
                    <font style="font-size: xx-large;">
                        <center> About us </center>
                    </font>
                </td>
            </tr>
        </table>
        <center>
            <img src="/i/dlf-full-view.png" alt="dlf full view" width="100%">
        </center>
        <div>
            <p style="text-align: center; font-size: x-small; padding-left: 35%; padding-right: 35%;">
                With beauty being our focal point, Gana Associates is always ready to play its part to uplift the living standards and elevate the quality of everyday life. The will to do more, no matter what we have achieved up till now. These two aspects drive us to
                make luxurious properties across India available to common people who are wiling to better their and their’s families life.
            </p>
        </div>
    </section>
    <%- include("../partials/footer") %>