<%- include("../partials/header") %>
    <section>

        <table>
            <tr>
                <div>
                    <img src="/i/dlf-full-view1.jpg" alt="dlf view" width="100%">
                </div>
            </tr>
        </table>

        <br><br>

        <table style="background-color: black; height:15mm; width: 100%;">
            <tr>
                <td>
                    <center>
                        <a name="Origin"></a>
                        <font style="color: red; font-size: larger;"> ORIGINAL BOOKINGS </font>
                    </center>
                </td>
            </tr>
        </table>

        <table cellspacing="20px">
            <tr>
                <td style="width: 50%;">
                    <img src="/i/dlf-1-l.jpg" alt="dlf-1-1" width="100%">
                </td>
                <td>
                    <font style="font-size: larger;"> DLF PHASE I,II,II</font>
                    <font style="font-size: smaller; position: absolute;"><sup>Shivaji Marg Moti Nagar</sup></font>
                    <p>
                        DLF Capital Greens at Moti Nagar New Delhi is all about the great location, the splendidly garnished palette of advantages, and the lush green surrounding. It is 28 acres of the gated community of elegant 2, 3, and 4 BHK Apartments, inspired from ultra-modern
                        architecture and crafted to perfection.
                    </p>
                    <font style="font-size: 16pt;"><b>28</b></font> <sup>ACRES GATED COMMUNIT </sup> <br><br><br>
                    <p style="text-align: right;">
                        <font style="font-size: larger">2,3,4 & 5</font>
                        <font style="font-size: smaller; position: absolute;"><sup>BHK</sup></font>
                    </p> <br>
                    <p>
                        <font style="font-size: larger;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;66</b> </font> <sup>ACRES GREEN SPACE</sup>
                    </p>
                    <center>
                        <img src="/i/btn-hover.png" alt="btn-hover">
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <font style="font-size: larger;">The Amarylli</font>
                    <font style="font-size: smaller; position: absolute;"><sup>Karol Bagh</sup></font>
                    <p>
                        The Amaryllis would shine and enhance the landscape of Delhi to unimaginable height. The location, the structure, the amenities, the lifestyle is set to make The Amaryllis add life and zing to the heart of Delhi!
                    </p>
                    <font style="font-size: xx-large;">TOP</font>
                    <font style="font-size: smaller; position: absolute;"><sup>Amenties</sup></font> <br><br>
                    <font style="font-size: xx-large;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2,3,4,
                        & 5</font>
                    <font style="font-size: smaller; position: absolute;"><sup>BHK</sup></font> <br><br>
                    <font style="font-size: xx-large;"> Location</font>
                    <font style="font-size: smaller; position: absolute;"><sup>Karol Bagh</sup></font><br><br>
                    <center>
                        <img src="/i/btn-hover.png" alt="btn-hover">
                    </center>
                </td>
                <td style="width: 50%;">
                    <img src="/i/amaryllis1.jpg" alt="amaryllis1" width="100%">
                </td>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <center>
                        <img src="/i/godrej-south-estate.jpg" alt="godrej-south-estate" width="100%">
                    </center>
                </td>
                <td>
                    <font style="font-size: xx-large;"> Godrej South Estate</font>
                    <font style="font-size: smaller; position: absolute;"><sup>South Delhi</sup></font>
                    <p>
                        Imagine an address that could rede?ne the skyline of South Delhi. One with the stature that towers far above the rest and a copper crown that graces its head. One that comes from intricate design and a deep understanding of what luxury truly is. An address
                        that takes even the air you breathe to a whole new level
                    </p>
                </td>
            </tr>
        </table>

        <table style="background-color: red; height:15mm; width: 100%;">
            <tr>
                <td>
                    <center>
                        <a name="Upcoming"></a>
                        <font style="color: white; font-size: larger;"> Upcoming Projects </font>
                    </center>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 50%;">
                    <img src="/i/dlf-top-view.jpg" alt="dlf-top-view" width="100%">
                </td>
                <td style="width: 50%;">
                    <font style="font-size: xx-large;"> DLF Midtown</font>
                    <font style="font-size: smaller; position: absolute;"><sup>Shivaji Marg, Moti Nagar</sup></font>
                    <p>
                        DLF Midtown is all about luxurious living and lavish outdoors, retail outlets and recreational spots. It is actually a city within a city. Located exactly adjacent to DLF Phase I, II and III at Shivaji Marg, Moti Nagar, DLF Midtown is the best property
                        in Central Delhi. About 100 acres of green space for great living experience
                    </p>
                    <img src="/i/GIC.png" alt="GIC" width="25%">
                    <font style="position: absolute;"><sup>Joint Venture Partner</sup></font> <br><br>
                    <font style="position: absolute;"><sup>Architect</sup></font>
                    <img src="/i/DPA.png" alt="DPA" width="25%">
                </td>
            </tr>
        </table>

    </section>
    <%- include("../partials/footer") %>